<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">To-do Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-link" id="account_navbar">{{ user.get_username }}</li>
                    <li class="nav-link disabled" id="navbar | padding">  |  </li>
                    <li <li class="nav-item" id="logout_navbar"><a class="nav-link" href=" {% url 'logout' %}">Logout</a> </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-link disabled" id="navbar | padding">  |  </li>
                    <li class="nav-item"><a class="nav-link" href=" {% url 'register_page' %}">Register</a> </li>
                {% endif %}
            </ul>
    </span>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-left">
                <h1>{% block header_text %}{% endblock %}</h1>
                {% block form_block %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>