{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Tasks{% endblock %}
{% block header_text %}<h1 id="header"><br>{{ header }}</h1>{% endblock %}
{% block form_action %}{% url 'new task' %}{% endblock %}
{% block content_block %}
    <br>
    <div class="row">
        <div class="col-md-3" id="nav_task">
            <form method="POST" action="add_list" class="form-group">
                {% csrf_token %}
                {{ form_list|crispy }}
            </form>
            <ul class="nav flex-column text-wrap">
                {% for list in lists %}
                    <li class="nav-item" {% if forloop.counter0 == active %}id="active"{% endif %}>
                        <a class="nav-link{% if forloop.counter0 == active %} active{% endif %}"
                           href="switch_list{{ forloop.counter0 }}" id="id_list{{ forloop.counter0 }}">
                            <span class="d-inline-block text-truncate" style="max-width: 160px;" id="span">
                                {{ list.text }}
                            </span>

                            <form class="float-right" action="remove_list{{ forloop.counter0 }}">
                                <button type="submit" class="btn btn-outline-danger float-right" id="button">X
                                </button>
                            </form>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <form method="post" class="form-group" action="add_task{{ active }}">
                {% csrf_token %}
                {{ form_task|crispy }}
            </form>
            <table class="table table-sm">
                {% for task in tasks_list %}
                    {% cycle 'table-primary' 'table-default' as color silent %}
                    <tr>
                        <td class="{{ color }}" id="task{{ forloop.counter0 }}">{{ task.text }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}