div[id="main_container"] {
    max-width: 2000px;
}

div[id="nav_task"] {
    max-width: 300px;
}

span[class="d-inline-block text-truncate"] {
    padding-top: 8px;
}

div[id="nav_task"] li[class="nav-item"] {
    border-color: #b8daff !important;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 0.25rem;
    margin-bottom: 5px;
}

div[id="nav_task"] li[id="active"] {
    background-color: #b8daff !important;
}

a[class="nav-link active"] {
    color: black !important;
}

form[id="remove_list_form"] button[type="submit"] {
    margin-right: -8px;
}

form[id="remove_task_form"] button[type="submit"] {
    padding: 1px 7px;
    font-size: 13px;
}

form[id="mark_task_form"] button[type="submit"] {
    padding: 1px 7px;
    font-size: 13px;
}

span[id="task_text"] {
    padding: 10px;
}